<html>
  <head>
    <title>ddddd</title>
  </head>
  <body>
    <p>ddddfff <%= Time.now %></p>
    <% @result['rows'].each do |item| %> 
      <% data2 = RestClient.get "#{DB}/#{item['id']}" %>
      <% result1 = JSON.parse(data2) %>
      <% if result1['_id'].include? "_design" %>
      <% else %> 
        <% result1.each do |keys| %>
          <p><%= keys %></p>
        <% end %>
      <% end %>
    <% end %>
  </body>
</html>
